head
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
	title wonderVidClient
	link(href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css')
body

template(name="layout")
	+header
	+player
	+yield

template(name="simpleModal")
	.anti-modal-box
		.anti-modal-header 
			.anti-modal-title You're not logged in!
			.anti-modal-closer &times;
		.anti-modal-body 
			| Log in with your google account to like videos and view all your youtube likes.
			+loginButtons

template(name='player')
	.blackOverlay(class="#{overlayPopped}")
	.appBody 
	+if pushedTop
		.downArrow(id="downArrow")
			img(src="/images/downArrow.png")
	.playerContainer(id="playerContainer")
		.playerSideBar(id="playerSideBar")
			.sideTitle
				p {{currentVideo.title}}
			.sideDate
				p #{formedDate}
			.sideRank
				p(class="rankDesc") Wonder Rank:
				p(class="number") {{currentVideo.wonderRank}}
			.stats
				.sideLikes
					p {{currentVideo.shareCounts.Facebook.total_count}}
				.sideDislikes
					p {{currentVideo.shareCounts.Twitter}}
			+lmSocialShare opts=sharedata
			.sideDescription 
				p {{#autolink}}{{currentVideo.description}}{{/autolink}}

		#player
		+if minimized
			.closePlayer(id="closePlayer")
				img(src="images/cancel.png")
			.expandPlayer(id="expandPlayer")
				img(src="images/expand.png")
		else
			.togglePlayer(id="togglePlayer")
				img(src="images/arrow.png")
			.minimizePlayer(id="minimizePlayer")
				img(src="images/minimize.png")

template(name='gridThumbs')
	.container
		div(class="gridMaxedOut")
			+each videos
				.single(id="#{this._id}" style="background-size: cover; background-repeat: no-repeat; background-image:url('#{this.thumbnail.medium.url}')")
					.overlay(class="{{#if isSelected}}selected{{/if}}")
						.rank
							p #{rank}
						.like(class="{{#if isLiked}}heart-red{{/if}}")
						.descriptionText
							p #{this.title}

template(name="loading")
	.wrap2
		.boxcube2
			.boxfront.face1
				| ►
			.boxback.face1
				| ►
			.boxtop.face1
				| ►
			.boxbottom.face1
				| ►
			.boxleft.face1
				.face2
				| ❙ ❙
			.boxright.face1
				.face2
				| ❙ ❙