head
	title wonderVidClient
	link(href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css')
body

template(name="layout")
	+header
	+player
	+yield

template(name="simpleModal")
	.anti-modal-box
		.anti-modal-header 
			.anti-modal-title You're not logged in!
			.anti-modal-closer &times;
		.anti-modal-body 
			p Log in with your google account to like videos and view all your youtube likes.
			+loginButtons

template(name='player')
	.blackOverlay(class="#{overlayPopped}")
	.appBody 
	.downArrow(id="downArrow")
		img(src="/images/downArrow.png")
	.playerContainer(id="playerContainer")
		.playerSideBar(id="playerSideBar")
			.sideTitle
				p {{currentVideo.title}}
			.sideLikes
				p {{currentVideo.oldStats.likeCount}} likes
			.sideDislikes
				p {{currentVideo.oldStats.dislikeCount}} dislikes
			br
			+lmSocialShare opts=sharedata
			.sideDescription 
				p {{niceDescription}}

		#player
		.togglePlayer(id="togglePlayer")
			img(src="images/arrow.png")
		.minimizePlayer(id="minimizePlayer")
			img(src="images/minimize.png")
		.closePlayer(id="closePlayer")
			img(src="images/cancel.png")
		.expandPlayer(id="expandPlayer")
			img(src="images/expand.png")

template(name='gridThumbs')
	.container
		div(class="{{gridResized}}")
			+each videos
				.single(id="#{this._id}" style="background-size: cover; background-repeat: no-repeat; background-image:url('#{this.thumbnail.medium.url}')")
					.overlay(class="{{#if isSelected}}selected{{/if}}")
						.rank
							p #{rank}
						.like(class="{{#if isLiked}}heart-red{{/if}}")
						.descriptionText
							p #{this.title}

template(name="loading")
	.wrap2
		.boxcube2
			.boxfront.face1(style="background-color: #31c663;")
				| ►
			.boxback.face1(style="background-color: #31c663;")
				| ►
			.boxtop.face1(style="background-color: #31c663;")
				| ►
			.boxbottom.face1(style="background-color: #31c663;")
				| ►
			.boxleft.face1(style="background-color: #31c663;")
				.face2
				| ❙ ❙
			.boxright.face1(style="background-color: #31c663;")
				.face2
				| ❙ ❙