head
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
	title wonderVidClient
	link(href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css')

body

template(name="layout")
	+header
	+player
	div(style="height:100%")
		+yield

template(name="simpleModal")
	.anti-modal-box
		.anti-modal-header 
			.anti-modal-title(style="color: {{color}};") {{loggedIn}}
			.anti-modal-closer &times;
		.anti-modal-body 
			p Log in with your google account to like videos and view all your youtube likes.
			.text-center
				+loginButtons

template(name="helpModal")
	.anti-modal-box
		.anti-modal-header
			.anti-modal-title(style="color: {{color}};")
				h2 Shortcuts
			.anti-modal-closer &times;
		.anti-modal-body 
			p Many of the actions you can do in the app can also be done at the press of a key!
			+each shortcut
				.keyRow
					.left
						span.key {{this.key}}
					.right
						p.keyExp {{this.exp}}
			
template(name='player')
	+if needOverlay
		.blackOverlay(class="overlayFront")
	.appBody 
	+if pushedTop
		.downArrow(id="downArrow")
			img(src="/images/downArrow.png")
	.playerContainer(id="playerContainer")
		.playerSideBar(id="playerSideBar")
			.sideTitle
				p {{currentVideo.title}}
			.sideDate
				p #{formedDate}
			.sideRank(style="color: {{color}};")
				p(class="rankDesc") Wonder Rank:
				p(class="number") {{currentVideo.wonderRank}}
			.stats
				.sideLikes
					p {{currentVideo.shareCounts.Facebook.total_count}}
				.sideDislikes
					p {{currentVideo.shareCounts.Twitter}}
			+lmSocialShare opts=sharedata
			.sideDescription 
				p {{#autolink}}{{currentVideo.description}}{{/autolink}}

		#player
		+if minimized
			.closePlayer(id="closePlayer")
				img(src="images/cancel.png")
			.expandPlayer(id="expandPlayer")
				img(src="images/expand.png")
		else
			.togglePlayer(id="togglePlayer")
				img(src="images/arrow.png")
			.minimizePlayer(id="minimizePlayer")
				img(src="images/minimize.png")

template(name='gridThumbs')
	.container
		.flex-container
			+each videos
				.flex-items-default.single(id="#{this._id}" class="{{#if featured}}featured{{/if}}" style="background-size: cover; background-repeat: no-repeat; background-image:url('#{this.thumbnail.high.url}')") 
					.overlay(class="{{#if isSelected}}selected{{/if}}" style="background-image: {{colorImage}};" )
						.rank
							p #{rank}
						.like(class="{{#if isLiked}}heart-red{{/if}}")
					.descriptionText
						p #{this.title}

template(name="loading")
	.wrap2
		.boxcube2
			.boxfront(style="background-color: {{color}};")
				| ►
			.boxback(style="background-color: {{color}};")
				| ►
			.boxtop(style="background-color: {{color}};")
				| ►
			.boxbottom(style="background-color: {{color}};")
				| ►
			.boxleft(style="background-color: {{color}};")
				.face2
				| ❙ ❙
			.boxright(style="background-color: {{color}};")
				.face2
				| ❙ ❙


