head
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
	meta(name="apple-mobile-web-app-capable" content="yes")
	meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
	meta(name="mobile-web-app-capable" content="yes")

	title kikbak.tv
	link(href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css')
	link(rel='icon' href='/images/favicon.ico')

body

template(name="layout")
	+header
	+player
	div(style="height:100%")
		+yield

template(name="turnScreenModal")
	.anti-modal-box
		.anti-modal-header 
			.anti-modal-title Turn your Phone!
			.anti-modal-closer &times;
		.anti-modal-body 
			p Kikbak.tv is all about music videos and is best used in landscape mode. Try turning your phone or widening your browser window.

template(name="simpleModal")
	.anti-modal-box
		.anti-modal-header 
			.anti-modal-title {{loggedIn}}
			.anti-modal-closer &times;
		.anti-modal-body 
			p Log in with your google account to like videos and view all your youtube likes.
			.text-center
				+loginButtons

template(name="helpModal")
	.about.anti-modal-box
		.anti-modal-header
			.anti-modal-title
				h2 What is kikbak.tv?
			.anti-modal-closer &times;
		.anti-modal-body 
			p 
				| kikbak.tv combs the internet for the newest coolest music videos everyday. Find out more
				a.about(href='/about') here
			h3 Shortcuts
			p Many of the actions you can do in the app can also be done at the press of a key!
			+each shortcut
				.keyRow
					.left
						span.key {{this.key}}
					.right
						p.keyExp {{this.exp}}
			
template(name='player')
	+if needOverlay
		.blackOverlay(class="overlayFront")
	.appBody 
	+if pushedTop
		.downArrow(id="downArrow")
			<i class="fa fa-chevron-down"></i>

	.playerContainer(id="playerContainer")
		+unless or screensize_small screensize_medium
			.playerSideBar(id="playerSideBar")
				.sideTitle
					p {{currentVideo.title}}
				.sideDate
					p #{formedDate}
				.sideRank(style="color: #c04848")
					p(class="rankDesc") rank
					p(class="number") #{currentVideo.rank}
				.stats
					.sideLikes
						p #{currentVideo.shareCounts.Facebook.total_count}
					.sideDislikes
						p #{currentVideo.shareCounts.Twitter}}
				+lmSocialShare opts=sharedata
				.sideDescription 
					p {{#autolink}}{{currentVideo.description}}{{/autolink}}			
			.playerNavBar(id="playerNavBar")
				.togglePlayer(id="togglePlayer")
					i.fa.fa-times
					p close
				+if isDevEnvironment
					.flagVideo(id="flagVideo")
						i.fa.fa-flag
						p flag
				.minimizePlayer(id="minimizePlayer")
					p minimize
					i.fa.fa-compress
			.playerNavBarMinimized(id="playerNavBarMinimized")
				.closePlayer(id="closePlayer")
					p close
					i.fa.fa-times.mini-exit
				.expandPlayer(id="expandPlayer")
					i.fa.fa-expand.fa-flip-vertical.mini-expand
					p expand
		else
			.togglePlayer.mobileToggle(id="togglePlayer")
					img(style="width:36px" src="images/{{colorFontClose}}")
					p close

		.player(class="{{#if or screensize_small screensize_medium}}smallPlayer{{/if}}")
			#player

template(name='gridThumbs')
	.container
		{{turnDevice}}
		.flex-container
			+each videos
				.flex-items-default.single(id="#{this._id}" class="{{#if featured}}featured{{/if}}" style="background-size: cover; background-repeat: no-repeat; background-image:url('#{this.thumbnail.high.url}')") 
					.overlay(class="{{#if isSelected}}selected{{/if}}")
						.rank
							p #{this.rank}
						.icon-links
							a(href="#")
								.fa(class="{{#if isLiked}}fa-heart{{else}}fa-heart-o{{/if}}")
							a(href="#")
								.fa.fa-facebook
							a(href="#")
								.fa.fa-twitter
					.gradient
					.descriptionText
						p #{this.title}
					.play-icon
						.fa.fa-play

template(name="loading")
	.wrap2
		.boxcube2
			.boxfront(style="background-color: {{color}};")
				| ►
			.boxback(style="background-color: {{color}};")
				| ►
			.boxtop(style="background-color: {{color}};")
				| ►
			.boxbottom(style="background-color: {{color}};")
				| ►
			.boxleft(style="background-color: {{color}};")
				.face2
				| ❙ ❙
			.boxright(style="background-color: {{color}};")
				.face2
				| ❙ ❙


