.top
.pane.topHeight
	.description.text-center
		h1.blackFuzz(style="color: #{color};") This is kikbak.tv
		p.blackFuzz We take the hassle out of finding new music videos on the web.

.middle
	h1.text-center How it Works
	.features
		.feature.card
			.icon(style="background-color: #{color};")
				|1
			.description
				h2.text-center Smart Rankings
				p kikbak.tv ranks recent Music Videos by combining the Facebook shares, Tweets, blog posts, and average plays of the video.
		.feature.card
			.icon(style="background-color: #{color};")
				article.clock
					.hours-container
						.hours
					.minutes-container
						.minutes
			.description
				h2.text-center Hourly Results
				p Our servers are constantly combing the internet for new music videos and share counts. This changes the top 100 hourly. 
		.feature.card
			.icon(style="background-color: #{color};")
				.left-eye.eye
				.right-eye.eye
				.mouth
			.description
				h2.text-center Relax
				p kikbak.tv takes out all the pain of finding new music. Just sit back, watch, and discover!

.creators
	h1.blackFuzz.text-center(style="color: #{color};") Meet the Creators
	.creator.card.creatorLeft
		.description
			.picLeft.pic
			h2.text-center(style="color: #{color};") Andrew Lisowski
			h4.text-center Full-Stack
			h3 Bio
			p Andrew is a Computer Science senior at California Polytechnic University at San Luis Obispo with a passion for music tech.
				|He has always been interested in music, playing piano in his youth, attending countless concerts and constantly seeking out new and interesting music.
				|Through his work, ge aims to combine classic musical experiences with modern tech.
			p Andrew is returning to Intuit this summer to be an intern at mint.com doing front-end development over the summer.
				a.email.text-center(href="mailto:lisowski54@gmail.com") contact
			h3 Previous Work
			ul.previousWork  
				li
					a(href='http://hipstersmoothie.com' target = "_blank") hipstersmoothie.com
				li
					a(href="http://sctunes.meteor.com" target = "_blank") scTunes (animated)
				li
					a(href="http://sctunesFast.meteor.com" target = "_blank") scTunes (fast)
				li
					a(href="http://kikbak.meteor.com/" target = "_blank") kikbak.tv (same name different product)
	.creator.card.creatorRight
		.description
			.picRight.pic
			h2.text-center(style="color: #{color};") Emmett Harper
			h4.text-center Front-End
			h3 Bio
			p Emmett is a graduating computer engineer at Cal Poly with an exceptionally rojo beard on his face. He loves desgin and web 
				|work, and is currently working on an android app. Always interested in inqueries for cool ventures!
				a.email.text-center(href="mailto:emmettharper@gmail.com") contact
			h3 Previous Work
			ul.previousWork 
				li
					a(href='http://anastocio.com' target = "_blank") anastocio.com
.pane.bottom
	.description.text-center
		h1.explore Start Exploring!
		button.goBack(style="background-color: #{color};") Back to kikbak.tv
